# Webstorm
.idea/

# Dependencies
node_modules/

# Build and test outputs
dist/
*.tsbuildinfo

# Vitest
coverage/

# Playwright
test-results

# Environment variables
.env
.env.production

# Terraform
*.tfvars